# Next.js specific environment variables
NEXT_PUBLIC_API_URL="https://dominio.ar/api"

# Node environment
NODE_ENV="production"

# Connect to Supabase via connection pooling with Supavisor.
#DATABASE_URL="postgresql://postgres.[projectname]:[password]@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
#DIRECT_URL="postgresql://postgres.[projectname]:[password]@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
DATABASE_URL="postgresql://postgres.wttzjymihlxditeguqxa:9Vr3whM6V4n7vDlQ@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1" 
# Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL="postgresql://postgres.wttzjymihlxditeguqxa:9Vr3whM6V4n7vDlQ@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"  
# Set this to the Session connection pooler string you copied in Step 1

# Supabase public URL and anon key
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=




KINDE_CLIENT_ID=ada372eee45c40878c8b0bb0a1342469
KINDE_CLIENT_SECRET=QfelWV8FdEyHvUrLnu8DMuAYGhndTPLcwD1qXJUFGbcYXOUHUZPyW
KINDE_ISSUER_URL=https://webmenuapp.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard